body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
}
.container {
	width: 85%;	
	margin: 0 auto;
}
.cabecalho {
	background-color: #FFF;
	padding: 20px 0;
	width: auto;
}
.cabecalho-logo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}
.cabecalho-logo a {
	text-decoration: none;
	color: inherit;
}
.cabecalho-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	transition: .5s;
	display: block;
}
.cabecalho-nav-link:hover {
	color: #FFF;
	background-color: #9799A6;
}

.trabalhos-link {
	height: 400px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
	background: url(img-port.jpg) no-repeat;
	background-size: cover;	
}
.trabalhos-link a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 10%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
	opacity: 0.5;
}
.trabalhos-link:hover {
	box-shadow: 4px 4px 4px #CCC;
}